@model Station.Models.CustomerVoucher

<h2>Create Customer Voucher</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" class="form-control" type="number" step="0.01" />
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" type="number" step="0.01" />
    </div>
    <div class="form-group">
        <label asp-for="Date"></label>
        <input asp-for="Date" class="form-control" type="date" />
    </div>
 
    
    <button type="submit" class="btn btn-success">Create</button>
    <a href="/CustomerVouchers/Index" class="btn btn-secondary">Cancel</a>
</form>
