@{
    ViewData["Title"] = "Home Page";
    var userName = User.Identity?.Name; // comes from ClaimTypes.Name
}


<div class="text-center">
    <h1 class="display-4">Welcome @userName!</h1>
   
</div>
